/contracts_services/node_modules
/contracts_services/public/hot
/contracts_services/public/storage
/contracts_services/storage/*.key
/contracts_services/vendor
/users_services/node_modules
/users_services/public/hot
/users_services/public/storage
/users_services/storage/*.key
/users_services/vendor
/contracts_services/.env
/contracts_services/.env.backup
/contracts_services/.phpunit.result.cache
/users_services/.env
/users_services/.env.backup
/users_services/.phpunit.result.cache
/contracts_services/docker-compose.override.yml
/users_services/docker-compose.override.yml
/contracts_services/Homestead.json
/contracts_services/Homestead.yaml
/users_services/Homestead.json
/users_services/Homestead.yaml
/contracts_services/npm-debug.log
/users_services/npm-debug.log
/contracts_services/yarn-error.log
/users_services/yarn-error.log
/.idea
/.vscode

